{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <!--<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">-->
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base_paginap.css' %}">
    <title>Dashboard Profissional</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="banner">
        <div class="img-ban">
          <img src="{% static 'img/iconeselogos/banner_bandeira3-2-1.png' %}">
          <div class="tit-ban">
            <h1>Centro de Educação em EJA Luiz Octávio Araujo</h1>
          </div>
        </div>
      </div>
      <div class="barra-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
      <div class="corpo">
        {% block conteudo %}

        {% endblock %}
      </div>
      <div class="lateral">
        <h1>lateral</h1>
        {% block lateral %}
        {% endblock %}
      </div>
      <div class="rodape">
        <h2>rodape</h2>
        {% block rodape %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
