@charset "UTF-8";

@media (min-width: 100px) and (max-width: 360px){
  .avalia > h1{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 0.2em #111, 0 0 0.2em #87F, 0 0 0.2em #87F;
  }
  .avalia > p{
    text-align: justify;
    text-indent: 1.5px;
    font-family: 'ubuntu';
  }
  .painel{
    background-color: #696969;
    margin-top: 20px;
    padding: 10px;
    height: auto;
  }
  .painel > p{
    text-align: justify;
    text-indent: 1.5px;
    font-family: 'ubuntu';
  }
  .painel > h1{
    text-align: center;
    font-weight: bold;
    font-family: 'ubuntu';
  }
  .painel > table{
    background: white;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
  }
  td, th, tr{
    border-collapse:collapse;
    /* Declaração única para borda*/
    border:1px solid #000000;
  }
  .painel > table > caption{
    caption-side: top;
    color: white;
    font-size: 15px;
  }
  .painel > table > thead{
    background: #4F4F4F;
  }
  .painel > table > thead{
    color: white;
    text-align: center;
  }
  .painel > table > tbody > tr{
    text-align: center;
  }
  .painel > .formu{
    grid-area: f;
    background: LightBlue;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .painel > .formulario > .formulario{
    width: 80%;
  }

  .painel > .formu > button{
    font-weight: bold;
    margin: 10px;
  }
}
