@charset "UTF-8";
body{
  background-color: grey;
  margin: 0px;
  padding: 0px;
  transition: all .6s ease-in-out;
}
/*dispositivos smartphones*/
@media (min-width: 100px) and (min-width: 200px){
  .grid-container {
    display: grid;
    margin: 10px;
    background-color: orange;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba'
    'bm'
    'cn'
    'lt'
    'rp'
  }
  .grid-container > .banner {
    grid-area: ba;
  }
  .grid-container > .banner > .img-ban {
    margin-top: -17.5px;
    margin-left: -10px;
  }
  .grid-container > .banner > .img-ban > img{
    width: 100%;
    height: 75%;
    position: relative;
  }
  .grid-container > .banner > .img-ban > .tit-ban > h1{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow:
    0 0 0.5em #111,
    0 0 0.5em #87F,
    0 0 0.5em #87F
  }
  /*barra de menu*/
  .grid-container > .barra-menu {
    grid-area: bm;
    margin-top: -70px;
    width: auto;
    height: auto;
    margin-left: 0px;
    background-color: white;
  }

  .grid-container > .corpo {
    grid-area: cn;
    background-color: lightgrey;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
  }
  .grid-container > .lateral {
    grid-area: lt;
    background-color: yellow;
    margin: 5px;
    padding: 2.5px;
  }
  .grid-container > .rodape {
    grid-area: rp;
    background-color: navy;
    padding: 10px;
  }
  .grid-container > .rodape > h2 {
    background-color: orange;
  }
}

@media (min-width: 200px) and (min-width:600px){
  .grid-container {
    display: grid;
    margin: 10px;
    background-color: purple;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba lt'
    'bm cn lt'
    'rp rp rp'
  }
  .grid-container > .banner {
    grid-area: ba;
  }
  .grid-container > .banner > .img-ban {
    margin-top: -19.5px;
    margin-left: -10px;
  }
  .grid-container > .banner > .img-ban > img{
    width: 100%;
    height: 75%;
    position: relative;
  }
  .grid-container > .banner > .img-ban > .tit-ban > h1{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow:
    0 0 0.5em #111,
    0 0 0.5em #87F,
    0 0 0.5em #87F
  }

  .grid-container > .barra-menu {
    grid-area: bm;
    margin-top: -70px;
    width: auto;
    height: auto;
    margin-left: 0px;
    background-color: white;
  }

  .grid-container > .corpo {
    grid-area: cn;
    background-color: lightgrey;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
  }
  .grid-container > .lateral {
    grid-area: lt;
    background-color: yellow;
    margin: 5px;
    padding: 2.5px;
  }
  .grid-container > .rodape {
    grid-area: rp;
    background-color: navy;
    padding: 10px;
  }
  .grid-container > .rodape > h2 {
    background-color: orange;
  }
}

@media (min-width: 600px) and (min-width:1200px){
  .grid-container {
    display: grid;
    margin: 10px;
    background-color: purple;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba ba lt'
    'bm cn cn lt'
    'rp rp rp rp'
  }
  .grid-container > .banner {
    grid-area: ba;
  }
  .grid-container > .banner > .img-ban {
    margin-top: -19.5px;
    margin-left: -10px;
  }
  .grid-container > .banner > .img-ban > img{
    width: 100%;
    height: 75%;
    position: relative;
  }
  .grid-container > .banner > .img-ban > .tit-ban > h1{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow:
    0 0 0.5em #111,
    0 0 0.5em #87F,
    0 0 0.5em #87F
  }

  .grid-container > .barra-menu {
    grid-area: bm;
    margin-top: -70px;
    width: auto;
    height: auto;
    margin-left: 0px;
    background-color: white;
  }

  .grid-container > .corpo {
    grid-area: cn;
    background-color: lightgrey;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
  }
  .grid-container > .lateral {
    grid-area: lt;
    background-color: yellow;
    margin: 5px;
    padding: 2.5px;
  }
  .grid-container > .rodape {
    grid-area: rp;
    background-color: navy;
    padding: 10px;
  }
  .grid-container > .rodape > h2 {
    background-color: orange;
  }
}

@media (min-width: 1200px){
  .grid-container {
    display: grid;
    margin: 10px;
    background-color: purple;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba ba lt'
    'bm cn cn lt'
    'rp rp rp rp'
  }
  .grid-container > .banner {
    grid-area: ba;
  }
  .grid-container > .banner > .img-ban {
    margin-top: -19.5px;
    margin-left: -10px;
  }
  .grid-container > .banner > .img-ban > img{
    width: 100%;
    height: 75%;
    position: relative;
  }
  .grid-container > .banner > .img-ban > .tit-ban > h1{
    position: absolute;
    top: 15px;
    left: 170px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-shadow:
    0 0 0.5em #111,
    0 0 0.5em #87F,
    0 0 0.5em #87F
  }

  .grid-container > .barra-menu {
    grid-area: bm;
    margin-top: -70px;
    width: auto;
    height: auto;
    margin-left: 0px;
    background-color: white;
  }

  .grid-container > .corpo {
    grid-area: cn;
    background-color: lightgrey;
    margin: 20px;
    padding: 0px;
    margin-top: 0px;
  }
  .grid-container > .lateral {
    grid-area: lt;
    background-color: yellow;
    margin: 5px;
    padding: 2.5px;
  }
  .grid-container > .rodape {
    grid-area: rp;
    background-color: navy;
    padding: 10px;
  }
  .grid-container > .rodape > h2 {
    background-color: orange;
  }
}
