{% extends 'basePG/base.html' %}
{% load static %}

{% block conteudo %}
    <h1>Pré-Cadastro</h1>
    <hr>
    <p>Seja bem-vindo(a) Candidato(a)!
      Selecione um dos botões abaixo a opção a qual você estará se pré-cadastrando</p>
    <hr>
    <a href="/usuario/cap/"><button type="button" class="btn btn-info btn-sm" name="botao">Atendimento Personalizado</button></a>
    <a href="/usuario/cbp/"><button type="button" class="btn btn-info btn-sm" name="botao">Banca Permanente</button></a>
    <hr>
    <h1>Cadastro</h1>
    <hr>
    <p>
      Caso já tenha participado da Reunião de Recepção, siga pra seção de CADASTRO COMPLETO
    </p>
    <hr>
    <a href="/usuario/usrcad/"><button type="button" class="btn btn-info btn-sm" name="botao">Atendimento Personalizado</button></a>
    <a href="/usuario/cbp/"><button type="button" class="btn btn-info btn-sm" name="botao">Banca Permanente</button></a>
    <hr>
{% endblock %}
