{% extends 'basePG/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}{{titulo1}}{% endblock %}

{% block conteudo %}
<div class="cad">
  <br>
  {% if status == '1' %}
  <div class="alert alert-danger" role="alert">
    E-mail e/ou Senha inválidos!
  </div>
  {% endif %}
  {% if status == '2' %}
  <div class="alert alert-danger" role="alert">
    Faça o Login para acessar novamente!
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md">
      <h2>Acesse!</h2>
      <hr>
      <form class="formulario" method="post">
        {% csrf_token %}
         <label for="email">E-Mail</label>
        <input class="form-control" type="text" name="email" value="" placeholder="email">
        <br>
        <label for="senha">Senha</label>
        <input class="form-control" type="password" name="senha" value="" placeholder="senha">
        <br>
        <input class="btn btn-info btn-lg" type="submit" name="botao" value="Acessar">
        <a href="/usuario/cadastro/"class="btn btn-warning btn-lg">Cadastre-se</a>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
{% endblock %}
