@chaset "UTF-8";

@media (min-width: 100px) and (max-width: 400px){
  .texto {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .texto > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
  }
  .texto > p {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
  }
  .lança {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .lança > .aluno {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .aluno > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .lança > .professor {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .professor > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
}

/* outros formatos de tela de dispositivo */
@media (min-width: 400px) and (max-width: 800px){
  .texto {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .texto > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
  }
  .texto > p {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
  }
  .lança {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .lança > .aluno {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .aluno > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .lança > .professor {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .professor > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
}

@media (min-width: 800px) and (max-width: 1200px){
  .texto {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .texto > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
  }
  .texto > p {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
  }
  .lança {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .lança > .aluno {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .aluno > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .lança > .professor {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .professor > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
}

@media (min-width: 1200px){
  .texto {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .texto > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
  }
  .texto > p {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
  }
  .lança {
    margin: 5px;
    margin-top: 25px;
    padding: 10px;
    background-color: skyblue;
  }
  .lança > .aluno {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .aluno > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
  .lança > .professor {
    background-color: white;
    display: flex;
    align-content: center;
  }
  .lança > .professor > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
  }
}
