@chaset "UTF-8";

@media (min-width: 100px) and (max-width: 400px){
  html{
    background-color: #363636;
  }
  body{
    background-color: white;
    padding: 10px;
  }
  /* configuração da grade */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba'
    'bm'
    'cn'
    'lt'
    'rp'
  }

  .grid-container > .banner{
    grid-area: ba;
    background-color: red;
    width: 100%;
    height: 225px;
  }

  .grid-container > .banner > .img-ban > .banner{
    position: relative;
    top: -13px;
    left: -6px;
    width: 100%;
    height: 75%;
  }
  .grid-container > .banner > .logo > .logo{
    position: absolute;
    top: 185px;
    right: 230px;
    width: 26.5%;
    height: 7.5%;
    transform: scaleX(1);
  }
  /* nome escola e usuario*/
  .grid-container > .banner > .tit-ban > h1{
    position: absolute;
    top: 30px;
    left: 145px;
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow:
    0 0 0.2em #111,
    0 0 0.2em #87F,
    0 0 0.2em #87F
  }
  .grid-container > .banner > .usr > p{
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: 'Ubuntu';
    color: white;
    width: 100%;
    text-align: center;
    text-shadow:
      0 0 0.2em #111,
      0 0 0.2em #87F,
      0 0 0.2em #87F
  }
  /* menu */
  .grid-container > .barra-menu > .nav-ban{
    grid-area: bm;
    position: absolute;
    background-color: silver;
    top: 185px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul li { display: inline; }
  .grid-container > .barra-menu > .nav-ban > nav ul li a {
    padding: 2px 5px;
    display: inline-block;}
  .grid-container > .barra-menu > .nav-ban > nav ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
  }

  /* corpo da noticia*/
  .grid-container > .corpo-noticia{
    grid-area: cn;
    top: auto;
    justify-content: center;
    height: auto;
    background-color: gray;
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .corpo-noticia > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .corpo-noticia > p {
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    background-color: white;
  }
  /* corpo lateral */
  .grid-container > .lateral{
    grid-area: lt;
    display: flex;
    top: 10px;
    justify-content: center;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .lateral > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .lateral > p{
    margin: 10px;
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    background-color: white;
  }

  /* corpo rodape */
  .grid-container > .rodape{
    grid-area: rp;
    padding: 5px;
    top: 60px;
    background-color: navy;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    /*'imt imt'*/
    't t'
    't2 t2'
  }
  .grid-container > .rodape a{
    font-size: 12px;
  }
  .rodape > .ender{
    grid-area: t;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
  }
  .rodape > .ctt{
    grid-area: t2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'fx fx'
    'wpp tlg'
    'fb itg'
  }
  .fx{grid-area: fx;}
  .wpp{grid-area: wpp;}.tlg{grid-area: tlg;}
  .fb{grid-area: fb;}.itg{grid-area: itg;}
}

/* outros formatos de tela de dispositivo */
@media (min-width: 400px) and (max-width: 800px){
  html{
    background-color: #363636;
  }
  body{
    background-color: white;
    padding: 10px;
  }
  /* configuração da grade */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba'
    'bm bm'
    'cn lt'
    'rp rp'
  }

  .grid-container > .banner{
    grid-area: ba;
    background-color: red;
    width: 100%;
    height: 225px;
  }

  .grid-container > .banner > .img-ban > .banner{
    position: relative;
    top: -13px;
    left: -6px;
    width: 100%;
    height: 75%;
  }
  .grid-container > .banner > .logo > .logo{
    position: absolute;
    top: 185px;
    right: 230px;
    width: 26.5%;
    height: 7.5%;
    transform: scaleX(1);
  }
  /* nome escola e usuario*/
  .grid-container > .banner > .tit-ban > h1{
    position: absolute;
    top: 30px;
    left: 145px;
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow:
    0 0 0.2em #111,
    0 0 0.2em #87F,
    0 0 0.2em #87F
  }
  .grid-container > .banner > .usr > p{
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: 'Ubuntu';
    color: white;
    width: 100%;
    text-align: center;
    text-shadow:
      0 0 0.2em #111,
      0 0 0.2em #87F,
      0 0 0.2em #87F
  }
  /* menu */
  .grid-container > .barra-menu > .nav-ban{
    grid-area: bm;
    position: absolute;
    background-color: silver;
    top: 185px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul li { display: inline; }
  .grid-container > .barra-menu > .nav-ban > nav ul li a {
    padding: 2px 5px;
    display: inline-block;}
  .grid-container > .barra-menu > .nav-ban > nav ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
  }

  /* corpo da noticia*/
  .grid-container > .corpo-noticia{
    grid-area: cn;
    top: auto;
    justify-content: center;
    height: auto;
    background-color: gray;
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .corpo-noticia > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .corpo-noticia > p {
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    background-color: white;
  }
  /* corpo lateral */
  .grid-container > .lateral{
    grid-area: lt;
    display: flex;
    top: 10px;
    justify-content: center;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .lateral > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .lateral > p{
    margin: 10px;
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    background-color: white;
  }

  /* corpo rodape */
  .grid-container > .rodape{
    grid-area: rp;
    padding: 5px;
    top: 60px;
    background-color: navy;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    /*'imt imt'*/
    't t'
    't2 t2'
  }
  .grid-container > .rodape a{
    font-size: 12px;
  }
  .rodape > .ender{
    grid-area: t;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
  }
  .rodape > .ctt{
    grid-area: t2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'fx fx'
    'wpp tlg'
    'fb itg'
  }
  .fx{grid-area: fx;}
  .wpp{grid-area: wpp;}.tlg{grid-area: tlg;}
  .fb{grid-area: fb;}.itg{grid-area: itg;}
}

@media (min-width: 800px) and (max-width: 1200px){
  html{
    background-color: #363636;
  }
  body{
    background-color: white;
    padding: 10px;
  }
  /* configuração da grade */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba ba'
    'bm bm bm'
    'cn cn lt'
    'rp rp rp'
  }

  .grid-container > .banner{
    grid-area: ba;
    background-color: red;
    width: 100%;
    height: 225px;
  }

  .grid-container > .banner > .img-ban > .banner{
    position: relative;
    top: -13px;
    left: -6px;
    width: 100%;
    height: 75%;
  }
  .grid-container > .banner > .logo > .logo{
    position: absolute;
    top: 185px;
    right: 230px;
    width: 26.5%;
    height: 7.5%;
    transform: scaleX(1);
  }
  /* nome escola e usuario*/
  .grid-container > .banner > .tit-ban > h1{
    position: absolute;
    top: 30px;
    left: 145px;
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow:
    0 0 0.2em #111,
    0 0 0.2em #87F,
    0 0 0.2em #87F
  }
  .grid-container > .banner > .usr > p{
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: 'Ubuntu';
    color: white;
    width: 100%;
    text-align: center;
    text-shadow:
      0 0 0.2em #111,
      0 0 0.2em #87F,
      0 0 0.2em #87F
  }
  /* menu */
  .grid-container > .barra-menu > .nav-ban{
    grid-area: bm;
    position: absolute;
    background-color: silver;
    top: 185px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul li { display: inline; }
  .grid-container > .barra-menu > .nav-ban > nav ul li a {
    padding: 2px 5px;
    display: inline-block;}
  .grid-container > .barra-menu > .nav-ban > nav ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
  }

  /* corpo da noticia*/
  .grid-container > .corpo-noticia{
    grid-area: cn;
    top: auto;
    justify-content: center;
    height: auto;
    background-color: gray;
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .corpo-noticia > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .corpo-noticia > p {
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    background-color: white;
  }
  /* corpo lateral */
  .grid-container > .lateral{
    grid-area: lt;
    display: flex;
    top: 10px;
    justify-content: center;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .lateral > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .lateral > p{
    margin: 10px;
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    background-color: white;
  }

  /* corpo rodape */
  .grid-container > .rodape{
    grid-area: rp;
    padding: 5px;
    top: 60px;
    background-color: navy;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    /*'imt imt'*/
    't t'
    't2 t2'
  }
  .grid-container > .rodape a{
    font-size: 12px;
  }
  .rodape > .ender{
    grid-area: t;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
  }
  .rodape > .ctt{
    grid-area: t2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'fx fx'
    'wpp tlg'
    'fb itg'
  }
  .fx{grid-area: fx;}
  .wpp{grid-area: wpp;}.tlg{grid-area: tlg;}
  .fb{grid-area: fb;}.itg{grid-area: itg;}
}

@media (min-width: 1200px){
  html{
    background-color: #363636;
  }
  body{
    background-color: white;
    padding: 10px;
  }
  /* configuração da grade */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    'ba ba ba'
    'bm bm bm'
    'cn cn lt'
    'rp rp rp'
  }

  .grid-container > .banner{
    grid-area: ba;
    background-color: red;
    width: 100%;
    height: 225px;
  }

  .grid-container > .banner > .img-ban > .banner{
    position: relative;
    top: -13px;
    left: -6px;
    width: 100%;
    height: 75%;
  }
  .grid-container > .banner > .logo > .logo{
    position: absolute;
    top: 185px;
    right: 230px;
    width: 26.5%;
    height: 7.5%;
    transform: scaleX(1);
  }
  /* nome escola e usuario*/
  .grid-container > .banner > .tit-ban > h1{
    position: absolute;
    top: 30px;
    left: 145px;
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow:
    0 0 0.2em #111,
    0 0 0.2em #87F,
    0 0 0.2em #87F
  }
  .grid-container > .banner > .usr > p{
    position: absolute;
    top: 150px;
    left: 0px;
    font-family: 'Ubuntu';
    color: white;
    width: 100%;
    text-align: center;
    text-shadow:
      0 0 0.2em #111,
      0 0 0.2em #87F,
      0 0 0.2em #87F
  }
  /* menu */
  .grid-container > .barra-menu > .nav-ban{
    grid-area: bm;
    position: absolute;
    background-color: silver;
    top: 185px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
  }
  .grid-container > .barra-menu > .nav-ban > nav ul li { display: inline; }
  .grid-container > .barra-menu > .nav-ban > nav ul li a {
    padding: 2px 5px;
    display: inline-block;}
  .grid-container > .barra-menu > .nav-ban > nav ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
  }

  /* corpo da noticia*/
  .grid-container > .corpo-noticia{
    grid-area: cn;
    top: auto;
    justify-content: center;
    height: auto;
    background-color: gray;
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .corpo-noticia > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .corpo-noticia > p {
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    text-indent: 1.5em;
    background-color: white;
  }
  /* corpo lateral */
  .grid-container > .lateral{
    grid-area: lt;
    display: flex;
    top: 10px;
    justify-content: center;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
  }
  .grid-container > .lateral > h1 {
    font-family: 'Ubuntu';
    font-weight: bolder;
    text-align: center;
    background-color: silver;
  }
  .grid-container > .lateral > p{
    margin: 10px;
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: justify;
    background-color: white;
  }

  /* corpo rodape */
  .grid-container > .rodape{
    grid-area: rp;
    padding: 5px;
    top: 60px;
    background-color: navy;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    /*'imt imt'*/
    't t'
    't2 t2'
  }
  .grid-container > .rodape a{
    font-size: 12px;
  }
  .rodape > .ender{
    grid-area: t;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
  }
  .rodape > .ctt{
    grid-area: t2;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    'fx fx'
    'wpp tlg'
    'fb itg'
  }
  .fx{grid-area: fx;}
  .wpp{grid-area: wpp;}.tlg{grid-area: tlg;}
  .fb{grid-area: fb;}.itg{grid-area: itg;}
}
