@charset "UTF-8";
@media (min-width: 200px) and (max-width:400px){
  .card{
    background: gray;
    width: auto;
    height: auto;
    top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'aa'
    'an'
    'cm'
  }
  .card-menu{
    grid-area: cm;
    background-color: purple;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    'age avd atd'
    'atm ava mat'
  }
  .arredonda{
    grid-area: aa;
    border-radius: 50%;$arredonda a imagem
    width: 50%;
    position: absolute;
    top: 20.5px;
    left: 100px;
  }
  .avatar-nome{
    grid-area: an;
    background-color: yellow;
  }
  .avatar-nome > p{
    font-family: 'ubuntu';
    font-size: 16px;
    color: blue;
    text-align: center;
  }
}

/*@media (min-width: 360px) and (max-width:600px){

}

@media (min-width: 600px) and (max-width:800px){

}

@media (min-width: 800px) and (max-width: 1200px){

}

@media (min-width: 1200px){

}*/
