.painel{
  background-color: white;
  width: 100%;
  height: auto;
}
.painel > .dashboard{
  background-color: skyblue;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  'tt tt'
  'ag at'
  'dh sy'
}

.dashboard > h1{
  font-family: 'ubuntu';
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  grid-area: tt;
}
.dashboard > .agendados{
  font-family: 'ubuntu';
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  grid-area: ag;
  text-align: center;
  background-color: white;
}
.dashboard > .atendidos{
  font-family: 'ubuntu';
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  grid-area: at;
  text-align: center;
  background-color: white;
}
.dashboard > .dh{
  font-family: 'ubuntu';
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  grid-area: dh;
  text-align: center;
  background-color: white;
}
.dashboard > .sync{
  font-family: 'ubuntu';
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  grid-area: sy;
  text-align: center;
  background-color: white;
}
